/* .active{
    color: greenyellow;
    background-color: gray;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-top: 150px;
    text-align: center;
}
.text-color{
    color: greenyellow;
}
.font-size{
    font-size: 60px;
}
.font-style{
    font-style: italic;
} */
/* .switch{
    font-size: 60px;
    color: rgb(244, 247, 245);
    text-align: center;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    background-color: firebrick;
    margin: auto;
    margin-top: 250px;
}
input{
    border: none;
    background-color: lightblue;
    color: rgb(7, 0, 0);
    width: 300px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    text-align: center;
    margin: 10px;
    font-size: 30px;
    direction: none;
}
button{
    color: snow;
    background-color: teal;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0  10px black;
    width: 100px;
    height: 50px;
    margin: 10px;
} */
/* table{
    text-align: center;
} */